html {
    box-sizing: border-box;
}
*,* :before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0;
}

header {
    position: relative;
}

video {
    position: absolute;
    top:0;
    left:0;
    width:100%;
}

img {
    position: absolute;
    top:250px;
    left:25%;
}
.button {
    position: fixed;
    top:20px;
    right:20px;
    width:60px;
    height:60px;
    border-radius: 5px;
    border: 2px solid #fff;
}
.button div {
width:40px;
height: 20px;
margin: 0 auto;
}

div.border {
    border-top: 2px solid #fff;
    border-bottom:  2px solid #fff;
}